.custo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    background-color: #f8f8f8;
}

.custo h2{
    width: 95%;
    font-size: 150%;
    font-weight: 800;
    text-align: center;
    color: #423c41;
    margin-bottom: 5%;
}

.custo p{
    font-size: 100%;
    font-weight: 600;
    text-align: center;
    color: #423c41;
    margin-bottom: 5%;
}

.custo img{
    width: 50%;
    height: auto;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custo a{
    width: 70vw;
    height: 10vw;
    border:2px solid #e04b25;
    border-radius: 10vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e04b25;
    margin-top: 5%;
    font-size: 100%;
}