.diferenciais{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}

.diferenciais section{
    margin: 5% 0;
}

.diferencial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diferenciais h2{
    width: 95%;
    font-size: 200%;
    font-weight: 900;
    color: #423c41;
    margin: 3% 0;
    text-align: center;
}

.diferencial p{
    width: 80%;
    font-size: 100%;
    font-weight: 700;
    color: #423c41;
    text-align: justify;

}

.diferencial img{
    width: 30%;
    margin-top: 7%;
}

