.diferencial{
    width: 100%;
    height: auto;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
}
.metade{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#conteudo{
    margin: 3% 0 0 0;
}

#programatico{
    margin: 0 0 3% 0;
    font-size: 150%;
    letter-spacing: 1.6px;
    font-weight: 900;
}

.metade ul{ 
    width: 100%;
    margin: 5% 0;
    columns: 2;
    list-style-image: url('../../img/diferencial/check.png');
    list-style-position: inside;
}

#AD{
    margin: 0 0 3% 0;
    font-size: 150%;
    letter-spacing: 1.6px;
    font-weight: 900;
    opacity: 0.9;
}

 .listaIcon{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}




