.formato{
    width: 100%;
    height: auto;
    display: flex;
    padding: 5% 0;
}

.formato article{
    width: 50%;
    height: auto;
    padding: 3.5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#duracao{
    width: 50%;
    border-right: 2px solid lightgray; 
}

.formato h2{
    font-size: 6vw;
    color: #E04B25;
    opacity: 0.9;
    font-weight: bold;
    text-align: center;
}

.formato p{
    width: 95%;
    color: #253238;
    font-size: 5vw;
    text-align: center;
    margin: 3% 0;
}