.multinivel{
    width: 100%;
    height: auto;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #49AAEE;
}

.multinivel h2{
    width: 90%;
    font-size: 6vw;
    text-align: center;
    color: #423c41;
    margin: 5% 0;
}

.multinivel img{
    width: 50%;
    max-width: 500px;
    margin-bottom: 5%;
}

.multinivel section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multinivel section h3{
    width: 30%;
    color: #423c41;
    font-size: 5vw;
    text-align: center;
    margin: 3% 0;
}

#meio{
    width: 40%;
    border-left: 2px solid #A4B0C0;
    border-right: 2px solid #A4B0C0;
    /* padding: 0 4%; */
}