.programatico{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    background-color: #f9f9f9;
}

.programatico h2{
    width: 90%;
    font-size: 6vw;
    text-align: center;
    color: #423c41;
    margin: 10% 0;
}

.programatico ul{
    width: 90%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    list-style-image: url('../../img/diferencial/check.png')
}

.programatico li{
    width: 45%;
    margin-bottom: 5%;
    font-size: 5vw;
    color: #423c41;
}