
.title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../Index/img/fundo/3.jpg');
    background-size: auto 100%;
}

#coverColor{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(224, 74, 37, 0.253);
}

#coverColor h2{
    opacity: 0.9;
    font-size: 200%;
    line-height: 1.19;
    letter-spacing: 3.2px;
    color: #ffffff;
    text-align: center;
    margin: 5% 0;
}

#coverColor a{
    width: 80%;
    padding: 3% 0;
    text-decoration: none;
    background-color: #E04B25;
    border-radius: 10vw;
    margin-bottom: 5%;
}

#coverColor p{
    color: #ffffff;
    font-size: 90%;
    line-height: 1.19;
    letter-spacing: 1.4px;
    text-align: center;
    text-transform: uppercase;
}