.container{
    padding: 3% 0;
}

.container section{
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container h2{
    font-size: 3vw;
    margin: 3% 0;
}

.container h3{
    font-size: 2vw;
    margin: 3% 0 0 0;
}

.artigo{
    width: 25%;
    margin: 0;
}

