.container{
    padding: 3% 0;
}

.container section{
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin:  3% 0 0 0;
}

.container h2{
    font-size: 3vw;
    margin: 3% 0;
}

.container h3{
    font-size: 2vw;
    margin: 3% 0 0 0;
}

.artigo{
    width: 30%;
    margin: 0 0 5% 0;
}


.container .cta{
    width: 30%;
    height: auto;
    padding: 1% 0;
    margin-top: 2%;
    font-size: 2vw;
}

