.title{
    background-size:  100% auto; 
}

#coverColor{
    padding: 3% 0;
}

#coverColor h2{
    margin: 5% 0;
    font-size: 4vw;
} 

#coverColor h3{
    font-size: 3vw;
    margin-bottom: 5%;
}

#coverColor a{
    width: 30%;
    padding: 1.5% 0;
    margin-bottom: 5%;
    font-size: 1.5vw;
}