.custo{
    padding: 3% 0;
}

.custo h2{
    width: 90%;
    font-size: 3vw;
    text-align: center;
    color: #423c41;
    margin-bottom: 3%;
}

.custo p{
    font-size: 2vw;
    margin-bottom: 4%;
}

.custo img{
    max-width: 400px;
    margin-bottom: 0;
}

.custo a{
    width: 30%;
    height: auto;
    padding: 1% 0;
    margin-top: 2%;
    font-size: 2vw;
}