.custo{
    padding: 3% 0;
}

#titulo{
    font-size: 3vw;
    margin-bottom: 3%;
}

.custo h2{
    font-size: 2vw;
    margin-bottom: 4%;
}

.custo img{
    max-width: 400px;
    margin-bottom: 0;
}

.custo a{
    width: 30%;
    height: auto;
    padding: 1% 0;
    margin-top: 2%;
    font-size: 1.7vw;
}