.title{
    height: 80vh;
}

.title h2{
    font-size: 300%;
    font-weight: 900;
}

.title p{
    font-size: 200%;
    font-weight: 800;
}

.title a{

    width: 30%;
    height: 10%;
    font-size: 2vw;
    font-weight: 400;
}