.investimento{
    padding: 3% 0;
}

.investimento h2{
    font-size: 3vw;
    margin: 0 0 3% 0;
}

.investimento img{
    width: 40%;
    max-width: 300px;
    margin-bottom: 0%;
}

.investimento p{
    font-size: 2vw;
    margin-bottom: 2%;
}

.investimento a{
    width: 30%;
    padding: 1%;
    font-size: 2vw;
}