.multinivel{
    padding: 3% 0;
}

.multinivel h2{
    font-size: 3vw;
    margin: 0 0 3% 0;
}

.multinivel img{
    width: 50%;
    max-width: 300px;
    margin-bottom: 2%;
}

.multinivel section{
    width: 60%;
}

.multinivel section h3{
    font-size: 2vw;
}