.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.container h2{
    width: 90%;
    font-size: 6vw;
    text-align: center;
    color: #423c41;
    margin: 5% 0;
}

.artigo{
    width: 90%;
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a2x2{
    width: 90%;
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artigo h2{
    font-size: 5vw;
    color: #423c41;
}

.a2x2 h2{
    font-size: 5vw;
    color: #423c41;
}