.custo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    background-color: #f8f8f8;
}

.custo h2{
    width: 90%;
    font-size: 6vw;
    text-align: center;
    color: #423c41;
    margin-bottom: 10%;
}

.custo p{
    width: 90%;
    font-size: 5vw;
    text-align: center;
    color: #423c41;
    margin-bottom: 10%;
}

.custo img{
    width: 50%;
    max-width: 200px;
    height: auto;
    margin-bottom: 5%;
    /* text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center; */
}


.custo article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custo a{
    width: 75%;
    height: auto;
    padding: 3% 0;
    margin-top: 5%;
    border:2px solid #e04b25;
    border-radius: 10vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e04b25;
    font-size: 5vw;
}