.fot{
    width: 100%;
    height: auto;
    background-color: rgb(91, 74, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

#logoB{
    width: 50%;
    max-width: 150px;
    height: auto;
}

.fot div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

#icons{
    width: 70%;
    justify-content: space-between;
    flex-direction: row;
}

.fot h2{
    width: 90%;
    font-size: 100%;
    font-weight: 800;
    text-align: center;
    color: white;
    margin: 5% 0;
}

.fot img{
    width: 70%;
    max-width: 60px;
    height: auto;
    margin: 7% 0;
}