*{
    margin: 0px;
    padding: 0px;
    font-family: 'brandon_bold', sans-serif;
    line-height: 1.19;
    letter-spacing: 1.4px;
    /* outline: 1px solid black; */
}

/* Style the navigation menu */
.topnav {
    width: 100%;
    height: auto;
    margin: 2% 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logoEmenu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.topnav .active {
    width: 25%;
    height: 12vh;
    padding: 0;
    margin-left: 2%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.topnav .active img{
    width: 100%;
    height: auto;
}

.topnav a.icon {
    width: 25%;
    height: 12vh;
    background-image: url('../../img/menu.png');
    background-size:  40%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.topnav #myLinks a{
    width: 100%;
    height: auto;
    padding: 5% 0;
    text-align: center;
    text-decoration: none;
    color: #423C41;
    font-size: 5vw;
    text-transform: uppercase;
    transition: 2s ; 
}

.topnav #myLinks a:focus-visible{
    font-size: 5vw;
}

#WhatsApp{
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    width: 17vw;
    height: 17vw;
    max-width: 80px;
    max-height: 80px;
    background-image: url('../../img/whatsapp.png');
    background-size: cover;
    background-position: center;
}