.title{
    width: 100%;
    height: auto;
    background: url("../../img/fundo.jpg");
    background-size: auto 100%;
    /* Fundo de 1 a 7 */
}

#coverColor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(40, 104, 161, 0.671);
    padding: 5% 0;
}

#coverColor h2{
    width: 90%;
    text-align: center;
    margin: 5% 0;
    color:white;
    font-size: 7vw;
    opacity: 0.95;
} 

#coverColor p{
    width: 90%;
    text-align: center;
    font-size: 6vw;
    font-weight:600;
    color:white;
    margin-bottom: 5%;
    opacity: 0.95;
}

#coverColor a{
    width: 80%;
    padding: 3% 0;
    margin-bottom: 5%;
    text-decoration: none;
    background-color: #E04B25;
    border-radius: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: 4.5vw;
    text-transform: uppercase;
}