.container h2{
    width: 90%;
    font-size: 250%;
    font-weight: 1000;
    margin: 0 0;
}

.container section{
    width: 95%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artigo{
    width: 25%;
    margin: 5% 0;
    text-align: center;
}

.artigo h2{
    font-size: 150%;
    font-weight: 500;
}