.head{
    height: 18vh;
    flex-direction: row;
}

.head div{
    width: 20%;
}

.logo1{
    width: 100%;
}

.head input{
    display: none;
}

.head nav{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head nav a{
    width: 20%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head nav a h2{
    font-size: 120%;
    font-weight: 600;
    color: #423c41;
}