.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.container section{
    display: flex;
    flex-wrap: wrap;
}

.container h2{
    width: 90%;
    font-size: 6vw;
    text-align: center;
    color: #423c41;
    margin: 5% 0;
}

.container h3{
    width: 90%;
    font-size: 5vw;
    text-align: center;
    color: #423c41;
    margin: 5% 0;
}

.artigo{
    width: 50%;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    max-width: 128px;
}

.container .cta{
    width: 75%;
    height: auto;
    padding: 3% 0;
    margin-top: 5%;
    border:2px solid #e04b25;
    border-radius: 10vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e04b25;
    font-size: 5vw;
    text-decoration: none;
}